<!-- Edit Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Backstock Item Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="/todos/createTodo" method='POST'>
            <% todos.forEach(el=> { %>
                <%if (el._id==)
            
            
            
            })
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingCategory" name="category">
                    <option value="" disabled selected>Select One...</option>
                    <option value="Frozen">Frozen</option>
                    <option value="Health & Beauty">Health & Beauty</option>
                    <option value="Household & Cleaning">Household & Cleaning</option>
                    <option value="Pantry">Pantry</option>
                    <option value="Refrigerated">Refrigerated</option>
                    <option value="Shoes & Clothing">Shoes & Clothing</option>
                    <option value="Toys">Toys</option>
                    <option value="Other">Other</option>
                </select>
                <label for="floatingCategory">Category</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingBrand" placeholder="Brand" name='brand'>
                <label for="floatingBrand">Brand</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingDescription" placeholder="Description" name='description'>
                <label for="floatingDescription">Description</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingLocation" placeholder="Storage Location" name='storageLocation'>
                <label for="floatingLocation">Storage Location</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingQuantity" placeholder="Quantity" name='quantity'>
                <label for="floatingQuantity">Quantity</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingIdealQuantity" placeholder="Ideal Quantity" name='idealQuantity' class="hidden">
                <label for="floatingIdealQuantity">Ideal Quantity</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingSize" placeholder="Size" name='size'>
                <label for="floatingSize">Size</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingExpirationDate" placeholder="Expiration Date" name='expirationDate'>
                <label for="floatingExpirationDate">Expiration Date</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary shadow" id="newBackstockCancel" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" id="newBackstockSubmit" class="btn btn-primary shadow" data-dismiss="modal">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>