<nav>
    <a href="/todos">
        <img class="logo" src="/assets/default.png" alt="Backstock Logo">
    </a>
    <a class="btn btn-sm btn-dark logout-btn shadow" href="/logout">Logout</a>
</nav>

        